* {
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    color:#F1F1F1;;
    list-style:none;
}

body {
    background-color:#262626;
}

#wrap {
    position:absolute;
    width:100%;
    height:100%;
}

header {
    position:fixed;
    width:100%;
    height:20%;
    background-color:#1B1B1B;
    margin-bottom:20%;
}

#header_status {
    position:relative;
    width:100%;
    height:50%;
    float:left;
}

#header_icon, #header_setting {
    position:relative;
    width:10%;
    height:100%;
    float:left;
    overflow:hidden;
    text-align:center;
    display:flex;
    align-items:center;
}

#header_setting {
    cursor:pointer;
}

#header_title {
    position:relative;
    width:80%;
    height:100%;
    float:left;
    display:flex;
    align-items:center;
    font-size:2em;
}

#header_icon img, #header_setting img {
    position:relative;
    width:50%;
}

#header_tab {
    position:relative;
    width:100%;
    height:50%;
    float:left;
}

#header_tab ul {
    position:relative;
    width:100%;
    height:100%;
    float:left;
}

#header_tab ul li {
    position:relative;
    width:50%;
    height:100%;
    float:left;
    text-align:center;
    display:flex;
    align-items:center;
    cursor:pointer;
}

#header_tab ul li img {
    position:relative;
    width:15%;
}

#header_tab li:active {
    background-color:black;
}

#messenger_content {
    width:100%;
    height:80%;
    margin-top:20%;
}

#friends_list {
    width:90%;
    height:100%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
}

#friend {
    position:relative;
    width:100%;
    height:10%;
    float:left;
}

#avatar {
    position:relative;
    width:15%;
    height:100%;
    display:flex;
    align-items:center;
    float:left;
    text-align:left;
}

#avatar img {
    position:relative;
    width:40%;
}

#name {
    width:85%;
    height:100%;
    display:flex;
    align-items:center;
    font-size:1.8em;
}